In [1]:
import pandas as pd
import numpy as np

In [2]:
# dct = {"brand": "Ford","model": "Mustang", "year": 1964}
dct = {'a':[1,2,3,1], 'b':[4,5,6,7], 'c':[8,9,10,'11']}

dct_df = pd.DataFrame(dct)
print(type(dct_df))

<class 'pandas.core.frame.DataFrame'>

In [3]:
dct_df

   a  b   c
0  1  4   8
1  2  5   9
2  3  6  10
3  1  7  11

In [4]:
# .columns mainīgajā glabājas df kolonnu nosaukumi
dct_df.columns

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
# df var transponēt
dct_df.T

In [ ]:
# Kādu DF atgriezīs nākamās rindiņas atkomentēšana un palaišana?
# dct_df

In [ ]:
dct_df.sum()
# Kāpēc saskaitīja tikai a un b kolonnas?

In [ ]:
# Uzdevums: 
# Sameklējiet ko dara DataFrame objekta .to_numeric() funkcija

In [ ]:
# Izmantojot .head() funkciju var apskatīt df pirmos n elementus (pēc noklusējuma n = 20)
dct_df.head()

In [ ]:
kolonna = dct_df['a']
print(type(kolonna))

In [ ]:
kolonna

In [ ]:
kolonna.value_counts()

In [ ]:
# Pandas dataframe pēc noklusējuma ir indeksēti
rindina = dct_df.loc[0]
print(type(rindina))

In [ ]:
rindina

In [ ]:
manually_indexed_df = pd.DataFrame(dct, index = ['pirma', 'otra', 'tresa', 'ceturta'])

In [ ]:
manually_indexed_df

In [ ]:
# Rindu atlasīšana:
# Vairāki veidi. Viens no tiem: šķelt rindiņas ar būla mainīgo kolonnu
bool_col = [True, True, False, True]
dct_df[bool_col]

In [ ]:
# Pašā df arī var veidot šķēlumu
# Piemēri:
dct_df[dct_df['a'] == 1]

In [ ]:
some_df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
                  index=['mouse', 'rabbit'],
                  columns=['one', 'two', 'three'])

In [ ]:
some_df

In [ ]:
some_df.filter(items=['one', 'three'])

In [ ]:
csv_df = pd.read_csv('airtravel.csv')

In [ ]:
csv_df

In [ ]:
json_df = pd.read_json('lasams_json_piemers.json')

In [ ]:
json_df

In [ ]:
json_pandas_output = json_df.loc['popup']['menu']

In [ ]:
print(type(json_pandas_output))
print(json_pandas_output)

In [ ]:
# Uzdevums: 
# Saskaitiet cik kopā ir bijuši avio pasažieri no 1958. gada līdz 1960. gadam izmantojot no airtravel.csv izveidoto DataFrame

In [ ]:
# Atrodiet un ieimportējiet pd DataFrame objektā kādu excel failu, izmantojot pd.read_excel() funkciju
# Izvēlieties kādu excel faila kolonnu un pārbaudiet vai visas vērtības šajā kolonnā ir unikālas.